<h2>Add product</h2>

<div>
    <form>
        <label>Name</label>
        <input type="text" name="name"/>
        <br>
        <br>
        <label>Price</label>
        <input type="text" name="price" />
        <br><br>
        <label>Category</label>
        <select name="category">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Desert</option>
        </select>

    </form>


</div>