<!DOCTYPE html>
<html>
    <head>
        <title>Canteen Management System</title>
        <link rel="stylesheet" href="/customer.css">
        
    </head>
    <body>
       
        <div class="topnav">
             <h2>Canteen Management System</h2>
            <a href = "/user/dashboard" class="first">Dashboard</a>
          <a href = "/user/menu">Order</a>
          <a href = "/user/subcription">Subcription</a>
          <a href = "/user/orders">Order History</a>
          <a href = "/user/preorder">Pre Book order</a>
          <a href = "/user/wallet">wallet</a>
          <a href = "/logout">Logout</a>
        </div>
        {{{body}}}
         
      
    </body>
</html>
