<!DOCTYPE html>
<html>
    <head>
        <title>Canteen Management System</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
      
        <h1>Canteen Management System</h1>
        <div class="topnav">
          <a href = "/">Home</a>
          <a href = "/admin">Admin LogIn</a>
          <a href = "/customer_login">Customer LogIn</a>
        </div>
      <div>
        {{{body}}}
      </div>  
        
      
    </body>
</html>

