<!DOCTYPE html>
<html>
    <head>
        <title>Canteen Management System</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
      
        
        <div class="topnav">
          <h2>Canteen Management System</h2>
          <a href = "/" class="first">Home</a>
          <a href = "/register">Sign up</a>
          <a href = "/customer_login">Sign in</a>
          <a href = "/admin">Admin</a>
          
                   
        </div>
        
      <div>
        {{{body}}}
      </div>  
        
      
    </body>
</html>

