 <div>
<form action="/admin" method="post">
        <h2>Admin Login</h2>
        <br><br>
        <input  type="email" value = '{{email}}' name="email" placeholder="Username">
        <p>The username is Alphanumeric and can contain underscores(_) <br>Must contain atleast 5 Characters</p>
        <br><br>
         
        <input value='{{password}}' type="password" name="password" placeholder="Password">
        <p>The Password is Alphanumeric and can contain @ and hyphens(-) <br>Must contain 8 to 20 Characters</p>
        <br><br>
        <br><br><br>
        <button type="submit" class="registerbtn">Login</button>
        <br><br>
        <script src="admin_login_js.js"></script>
    </form>

 </div>
    
 