<div>

 <form action="/customer_login" method="post">
        <h2>Customer Login</h2>
        <br><br>
        <input name="email" value="{{email}}" type="email"  placeholder="email">
        <p>The username is Alphanumeric and can contain underscores(_) <br>Must contain atleast 5 Characters</p>
        <br><br>
        
        <input name="password" value="{{password}}" type="password"  placeholder="Password">
        <p>The Password is Alphanumeric and can contain @ and hyphens(-) <br>Must contain 8 to 20 Characters</p>
        <br><br>
        <br><br>
        <button type="submit" class="registerbtn">Login</button>
       
        <script src="customer_login_js.js"></script>
    </form>

</div> 
   
 